.Example {
    padding-top: 50px;
    background-color: lightslategray;
    width: 100%;
    min-height: 100vh;
    display: -ms-flexbox;
    /* 25F display */
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.div1 {
    width: 100px;
    height: 100px;
    /* 24E padding */
    padding: 50px;
    /* 24C margin */
    margin: 10px;
    /* 24D border */
    border: 2px solid darkred;
    /* 24Fbox-sizing */
    box-sizing: border-box;
    /* 25D float */
    float: right;
}

.div2 {
    width: 100px;
    height: 200px;
    /* 23E background-color */
    background-color: darkgoldenrod;
    /* 23F background-image */
    background-image: url("/goat.jpg");
    background-repeat: no-repeat;
    /* 23D-1 font-weight */
    font-weight: bold;
    /* 23D-3 font-size*/
    font-size: 20px;
    /* 23D-2 color */
    color: black;
    position: relative;
    left: 20px;
}
